language: ruby
rvm: 2.1
sudo: required
dist: trusty
env:
  global:
  - secure: Kc5j0fwV/6zHeENXidold1kRCHN7BKVY88Oe+0nNaqlJeaHfm+TUDTrhNghtYk2cEf1hM3SqgUozJvqGGWv+VkmMewv3UBWn0q21qLpyn8NgscnYAATrR4mEZMzq0ZWA63l/6t2l8v8wK7Y15PnbK990u5BLpLyTSqubfLXcx8k=
cache:
  apt: true
before_install:
- curl -sL https://deb.nodesource.com/setup_4.x | sudo -E bash -
- sudo apt-get install -y nodejs build-essential
install:
- npm install
before_script:
- npm test
script:
- scripts/build.sh
before_deploy:
- echo "@pact-foundation:registry=https://registry.npmjs.org/" > .npmrc
- echo "//registry.npmjs.org/:_authToken=${NPM_KEY}" >> .npmrc
- echo "//registry.npmjs.org/:username=pact-foundation" >> .npmrc
- echo "//registry.npmjs.org/:email=pact-foundation@googlegroups.com" >> .npmrc
- echo "//registry.npmjs.org/:always-auth=true" >> .npmrc
- cp .npmrc build/pact-mock-service-darwin/
- cp .npmrc build/pact-mock-service-win32/
- cp .npmrc build/pact-mock-service-linux-ia32/
- cp .npmrc build/pact-mock-service-linux-x64/
deploy:
- provider: script
  skip_cleanup: true
  script: npm publish build/pact-mock-service-darwin/ --access public
  on:
    branch: master
    tags: true
- provider: script
  skip_cleanup: true
  script: npm publish build/pact-mock-service-linux-ia32/ --access public
  on:
    branch: master
    tags: true
- provider: script
  skip_cleanup: true
  script: npm publish build/pact-mock-service-linux-x64/ --access public
  on:
    branch: master
    tags: true
- provider: script
  skip_cleanup: true
  script: npm publish build/pact-mock-service-win32/ --access public
  on:
    branch: master
    tags: true
- provider: script
  skip_cleanup: true
  script: npm publish . --access public
  on:
    branch: master
    tags: true
after_failure:
- find . -iname '*.log' -print0 | xargs -0 cat
